.md-top {
    background-color: #3949AB;
    color: #FFFFFF;
}

.md-nav__item .md-nav__link--active {
    color: #0288D1;
}

.md-nav__item .md-nav__link--active:hover {
    color: #FF6E42;
}

.md-copyright {
    color: var(--md-footer-fg-color--light);
}

.md-copyright a {
    text-decoration: underline;
}

.md-content {
  --md-typeset-a-color: #0288D1;
}

.md-typeset p {
    font-weight: 500;
    font-size: 0.85rem;
}

.md-typeset img {
    margin-bottom: -.5em;
}

.md-typeset ul li {
    margin-bottom: 0.25em;
}

.md-typeset pre {
    font-weight: 600;
}

.md-typeset code {
    font-weight: 600;
}

.md-typeset h1 {
    margin: 0 0 px2em(40px, 32px);
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.0;
    margin-bottom: .5em;
    letter-spacing: -0.01em;
}

.md-typeset h2 {
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 2rem;
    margin-top: .5em;
    margin-bottom: .25em;
    line-height: 1.0;
}

.md-typeset h3 {
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: .75em;
    margin-bottom: .75em;
    line-height: 1.0;
}

#print-site-page h1.nav-section-title,
#print-site-page h2.nav-section-title,
#print-site-page h3.nav-section-title,
#print-site-page h4.nav-section-title,
#print-site-page h5.nav-section-title,
#print-site-page h6.nav-section-title {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 1.0;
    margin-bottom: .5em;
    letter-spacing: -0.01em;
    color: var(--md-default-fg-color);
}

:root > * {
    --md-primary-fg-color:        #ee680f;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

  body {
    background: rgb(66, 64, 63);
    /* or, using CSS variables */
    --md-default-bg-color: rgb(18, 247, 216);
  }
  